<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stations</title>
</head>
<body>
    <h1>
        Stations:
    </h1>
    <ul>
        {% for station in object_list %}
            <div>
                <p><a href="{% url 'tasks_control:station_details' pk=station.pk %}">Наименование: {{ station.name }}</a></p>
                <p>Дорога: {{ station.road }}</p>
                <p>Описание: {{ station.description }}</p>
                <ui>
                    <div>Задачи на станции:</div>
                    {% for task in station.tasks.all%}
                        <li>{{ task.description }}</li>
                    {% endfor %}
                </ui>
            </div>
        {% empty  %}
            <li>No station found</li>
        {% endfor %}
    </ul>
        <div>
        <a href="{% url 'tasks_control:create_station' %}">
            Create a new station
        </a>
    </div>
</body>
</html>