# Скопируй этот файл в .env и заполни значения
# cp .env.example .env

# Django
SECRET_KEY=замени-на-случайную-строку-50-символов
DEBUG=False
ALLOWED_HOSTS=твой-домен-или-ip,localhost

# PostgreSQL
DB_NAME=workflow_db
DB_USER=workflow_user
DB_PASSWORD=придумай-надёжный-пароль
DB_HOST=db
DB_PORT=5432
