# Скопируй этот файл в .env и заполни значения
# cp .env.example .env

# Django
SECRET_KEY=замени-на-случайную-строку-50-символов
DEBUG=False
ALLOWED_HOSTS=твой-домен-или-ip,localhost
CSRF_TRUSTED_ORIGINS=твои_адреса_для_работы_https


# База данных: 'postgres' — PostgreSQL, не задано — SQLite (для разработки)
DATABASE_URL=postgres

# PostgreSQL
DB_NAME=workflow_db
DB_USER=workflow_user
DB_PASSWORD=придумай-надёжный-пароль
DB_HOST=db
DB_PORT=5432

# Email (SMTP) — для отправки обратной связи
# Yandex: EMAIL_HOST=smtp.yandex.ru, EMAIL_PORT=465, EMAIL_USE_SSL=True
# Gmail:  EMAIL_HOST=smtp.gmail.com,  EMAIL_PORT=587, EMAIL_USE_SSL=False (TLS)
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER=твой-адрес@yandex.ru
EMAIL_HOST_PASSWORD=пароль-приложения
SUPPORT_EMAIL=адрес-поддержки@yandex.ru-(любая-почта-может-совпадать-с-EMAIL_HOST_USER)
